.contact-list {
    &__wrapper {
        z-index: 1;
        position: relative;
        min-height: 50vh;
        overflow: hidden;
        padding: 20px 10px 0;

        &:before {
            z-index: -1;
            position: absolute;
            right: 0;
            bottom: 0;
            content: url('../../assets/icons/MSN-messenger-icon.webp');
            opacity: 0.1;
        }
    }
}