@import '../index';

.home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;

    &__wrapper.window {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        background: $color-white;
    }
    &__content {
        padding: 0 3px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        border-radius: 10px;
    }
    &__contact-list {
        flex-grow: 1;
        overflow-y: auto;
    }
}