@import '../index';

.home {
    &__wrapper.window {
        background: $color-white;
    }
    &__window-title {
        &.title-bar {
            display: flex;
            justify-content: start;
            gap: 5px;
        }

        &-img {
            width: 20px;
        }
    }
    &__content {
        padding: 0 3px;
        border-radius: 10px;
    }
}