.form {
    &__password-match-error {
        color: red;
        text-align: right;
    }
    &__buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: end;
    }
}