$color-white: #fff;
$color-black: #000;

$color-grey-1: #9f9e9a;
$color-grey-2: #e9e8e0;
$color-grey-3: #ced6e7;

$color-blue-1: #2e76cd;
$color-blue-2: #99b3e6;
$color-blue-3: #7391d2;
$color-blue-4: #024fbd;
$color-blue-5: #07135f;

$color-yellow-1: #fffed3;