@import '../../styles/index';

@keyframes tiltingNotificationTab {
    0% {
        background-color: unset;
    }
    50% {
        background-color: unset;
    }
    51% {
        background-color: $color-orange-1;
    }
    100% {
        background-color: $color-orange-1;
    }
}

.tab-navigation {
    &.title-bar {
        padding: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &__wrapper {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 2px;
        padding: 0 10px;
        display: flex;
        justify-content: flex-start;
        background-color: rgba(255, 255, 255, 0.2);

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__tab  {
        min-width: fit-content;
        padding: 0 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;

        &.tab-navigation__tab {
            &:hover:not(.tab-navigation__tab--active) {
                background-color: rgba(0, 0, 0, 0.15);
            }
            &--notification {
                background-color: $color-orange-1;
                animation: tiltingNotificationTab 1s infinite alternate;
            }
            &--active {
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

        &-image {
            width: 20px;
            height: auto;
        }
        p {
            color: $color-white;
            font-size: 13px;
            text-wrap: nowrap;
        }
    }

}