@import '../../styles/index';

.action-link {
    &__wrapper {
        width: fit-content;
        margin: 3px 0;
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
    &__image {
        width: 20px;
        height: 20px;
    }
    &__text {
        color: $color-black;
        font-size: 14px;
    }
}