@import '../../styles/index';

.contact-requests-bar {
    &__wrapper {
        margin: 1px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        background: $color-yellow-1;
        border: 1px solid $color-grey-2;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color-blue-4;
        }
    }
    &__icon {
        width: 15px;
        height: 15px;
    }
    &__text {
        font-size: 12px;
        color: $color-blue-4;
    }
}